.App {
  --header_height: 60px;
}

.hw {
  max-width: 1140px;
  margin: 0 auto;
}

.hwTitle {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-bottom: 1px solid #d9d9d9;
  padding-top: 130px;
  padding-left: 110px;
  padding-bottom: 10px;
}
