.friendMessage {

}

.friendImageAndText {
  display: flex;
  align-items: center;
}

.friendImageAndText img {
  width: 48px;
  height: 48px;
}

.friendText {
    position: relative;
    padding: 8px 13px;
    border-radius: 5px 5px 5px 0;
    background-color: #F5F7FB;
    margin-left: 20px;
}

.friendText:after {
    position: absolute;
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 20px solid transparent;
  border-right: 20px solid #F5F7FB;
  border-top: 15px solid transparent;
  left: -40px;
  bottom: 0;
}

.friendName {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.friendMessageText {
  color: #000;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.friendTime {
    color: #000;
    font-family: Montserrat;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal; 
     text-align: start; 
     position: relative;
     left: 8px;
}
